body{
    background-color: blanchedalmond;
    background-image: url(neha.jpeg);
    background-repeat: no-repeat; 
    background-size: 100px 100px;
    background-position:left 100px ;
}
.one{
    background-color: blue;
}