table{
    text-align: center;
    height: 500px;
    width: 600px;
    font-weight: bolder;
}
h1{
    text-align: center;
    color: rgb(245, 75, 13);
}
.name1{
    color:white;
    background-color: darkmagenta;
}
body{
    background-image: url(calender.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}