.box1{
    background-color: black; 
    /* margin-top: 50px; */
    /* margin-left: 70px; */
    /* margin-right: 100px; */
    /* margin-bottom: 50px; */
    margin:50px;
}
p{
  color: aquamarine;
}
.box2{
    background-color: black; 
    margin:50px;
    padding-left: 50px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right: 50px;
}
.box3{
     background-color: black; 
     margin:50px;
     padding:50px;
     /* border-top: 5px dashed pink;
     border-left: 5px solid green;
     border-right: 5px double pink;
     border-bottom: 10px groove yellow;

 */
     border: 5px groove pink;
}
h2{
    color: brown;
}