button{
      background-color: white;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 2px;
      padding-top: 2px;
      border-radius: 5px;
      margin-left: 10px;
      
}
.b1{
    border-radius: 10px;
    
}
body{
    background-color: black; 
    overflow-y: hidden;
}
p{
    color: white;
    margin-left: 10px;
    
}
h2{
    color:white;
    text-align:left;
    text-decoration:none;
    margin-left: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    justify-content:flex-start;
    margin-top: 30px;
    
    
}
img{
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 5px;
    width: 400px;
   
}
.hello{
    border: 10px solid white;
    
}
.n1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.n2{
    margin-left: 20px;
    margin-top: 10px;
}
.class1{
    margin-left: 30px;
    
}
#c1{
    line-height: 2px;
    margin-left: 20px;
}