.navbar{
    display: flex;
    /* justify-content: space-between; */
    background-color: black;
    color: white;
     position: fixed;
    width: 100%;
    top: 0px;
}
.box{
    font-size: larger;
    border-right: 1px solid gray;
    height: 76px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    position: relative;
    font-family: "Segoe UI Light", "Segoe UI", sans-serif;
    
}
.box4{
    margin-top: 33px;
    font-size: xx-large;
    margin-left: 800px;
    /* position: relative; */
    font-family: "Segoe UI Light", "Segoe UI", sans-serif;
}
.main{
    height: 680px;
    background-image: url(dance.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
}
 .par{
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin-left: 25px;
    line-height: 0.8;
    font-family: Encode Sans Condensed;
    position: absolute;
    top: 60px;
}
 .bt{
    margin-top:610px ;
    margin-left: 25px;
    background-color:rgb(208, 251, 249);
    padding: 10px;
    border: none;
    cursor: pointer;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(57, 90, 255);
    padding: 10px;
    }
    .div2{
        background-color: aqua;
        width: 100%;
        height: 680px;
    
    }  
     .vision{
        background-image: url(pic2.jpg);
        width:50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
     }
     .hii{
         color: white;
        font-size: 70px;
        font-weight:  bold;
        /* position: relative; */
        font-family: Encode Sans Condensed;
        margin-left: 20px;
        top: 10px;
     }
     
    .pic1{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        
    }
    .para{
        width: 50%;
        height: 655px;
        background-color: white;
       
    }
    .p1{
        color: black;
        font-size: 22px;
        font-family:Encode Sans Condensed;;
        margin-top:200px ;
        margin-left: 100px;
        font-weight: bold;
    }
    .p2{
        color: black;
        font-size: 20px;
        font-family: Encode Sans Condensed;
        margin-top:50px ;
        margin-left: 100px;
        margin-right: 100px;
       
    }
    .btn{
       
        background-color:rgb(57, 90, 255); 
        margin-top: 15px;
        margin-left:100px;
        border: none;
        padding: 10px;
    }
    .div3{
        width:100%;
        height: 680px;
        /* position: relative;  */
        display: flex;

    }
    .hlo{
        background-image: url(sam.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 50%;
        height: 680px;

    }
    .classes{
        font-size: 70px;
        color: white;
        margin-left: 10px;
        margin-top: 10px; 
        font-family:Encode Sans Condensed;
        font-weight: 600;
    }
    .p3{
        width: 50%;
        /* position: relative; */
        background-color: white;
        border-top: 1px solid black; 

    }
    .p4{
        color: black;
        font-size: 22px;
        font-family:Encode Sans Condensed;;
        margin-top:200px ;
        margin-left: 100px;
        font-weight: bold;
    }
    .p5{
        color: black;
        font-size: 20px;
        font-family: Encode Sans Condensed;
        margin-top:50px ;
        margin-left: 100px;
        margin-right: 100px;
       
    }
    .btn1{
        background-color:rgb(57, 90, 255); 
        margin-top: 15px;
        margin-left:100px;
        border: none;
        padding: 10px;
    }
    .div4{
        background-color: aqua;
        /* position: relative; */
        width: 100%;
        height: 680px;
        display: flex;
        justify-content: row;
    }
     .plain{
        width: 50%;
        height: 680px;
         background-color: white;
         /* position: relative; */
        
        }
    .our{
      font-size: 22px; 
      font-weight: bold; 
      font-family:Encode Sans Condensed;;
      margin-top:100px ;
      margin-left: 30px;
    }
    .truth{
      font-size: 20px; 
      font-family:Encode Sans Condensed;
      margin-top:250px ;
       margin-left: 30px;
      
    }
    .sop{
        font-size: 20px; 
      font-family:Encode Sans Condensed;
      margin-top: 20px;
       margin-left: 30px;
    }
    .photo{
        width: 50%;
        height: 680px;
    }
    .half{
        height:50%;
        background-color:rgb(226, 48, 226);
    }
    .bg{
        background-image: url(jeremy.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height:80%; 
    }
    .name{
        line-height: 0.5;
        margin-left: 30px;
        margin-top: 10px;
        font-family:Encode Sans Condensed;
        font-size: 16px;
    }
    .second{
     height:50%;
     background-color:rgb(57, 90, 255);     
    }
    .pg{
        background-image: url(jenifer.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height:80%;
        
    }
    .name1{
       line-height: 0.5;
        margin-left: 30px;
        margin-top: 10px;
        font-family:Encode Sans Condensed;
        font-size: 16px; 
    }
    .clr{
        width: 100%;
        height: 480px;
        background-color:rgb(57, 90, 255); 
        /* position: relative; */
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .content{
        padding: 140px 160px;
         margin-left: 150px;
        margin-right: 150px; 
        font-size: 30px;
        font-family:Encode Sans Condensed;
        font-weight: 600 ;
        position: relative;
    }
    .btn2{
        background-color:rgb(208, 251, 249);
        padding: 10px;
        border: none;
        cursor: pointer;
       
    }
    .final{
        width: 100%;
        height: 680px;
        background-color: rgb(208, 251, 249);
    }
    .last{
        display: flex;
        justify-content: space-between;
        height: 500px;
    }
    .mail{
        font-size: 17px;
       font-size: Encode Sans Condensed;
    }
    .insta{
       font-size: 17px;
        font-size: Encode Sans Condensed;
    }  
    .fb{
        font-size: 17px;
        font-size: Encode Sans Condensed;
        
    }
    .add{
        font-size: 17px;
        font-size: Encode Sans Condensed;
    }
        
   
    .container{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
        padding: 20px;
    }
    .social{
        background-color:rgb(57, 90, 255); 
        color: white;
        height: 180px;
        display: flex;
        
    }
    .us{
        background-color:black; 
        color: white;
        height: 180px
    }
    .book{
        background-color:rgb(226, 48, 226);
        color: black;
        height: 180px;
        font-weight: 700px;
    }
    
    


    
