.container{
    display: flex;
    background-color: aqua;
    gap:10px;
    padding:10px;
    width: 300px;
}
.item{
    background-color: bisque;
    padding: 20px;
    width:200px;
}
.item1{
    flex-shrink: 5;
}
.item2{
    flex-shrink: 0;
}
.item3{
    flex-shrink: 3;
}
