.container{
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px;
    gap: 10px;
}
.item{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 25px;
}