.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}
.item{
    background-color:rgb(222, 178, 222);
    text-align: center;
    padding: 20px;
    color: aliceblue;
    font-size: 25px;
}