.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    gap: 20px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    color: aliceblue;
    height:100px;
}