.box{
    height:200px;
    width:200px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:white;
}
/* tablet and above screen */
@media(min-width:600px) {
    .box{
        background-color: rgb(93, 93, 214);
    }
}
/* desktop */
@media(min-width:900px) {
  .box{
    background-color:pink  
  }
}