.navbar{
    display: flex;
    background-color:rgb(213, 118, 134);
    justify-content: space-between;
    align-items: center;
     padding: 15px 40px; 

}
.logo{
    font-size: 20px;
    font-weight: bolder;
    color: black;

}
.nav-links{
    display: flex;
    list-style: none;  
    gap: 20px;
    font-size: large;

}
.nav-links a{
    text-decoration: none;
    color: rgb(181, 16, 16);

}
.login-btn{
    padding: 8px 16px;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 