.container{
    display:flex;
    background-color:violet;
    padding:50px;
    margin:20px;
    border:5px solid brown;
    flex-wrap: nowrap;

}
.box{
    background-color: pink;
    margin: 20px;
    height:100px;
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 8px;

}