aside{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
}
#name{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
}
.box1{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}