h3{
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.para1{
    text-align: center;
    font-style: italic;
    color: brown;
    font-weight: bold;
}
.para2{
    text-decoration: underline;
}
.para3{
    text-align: left;
    color: blueviolet;
    text-decoration: line-through;
}
.para4{
    text-align: right;
    text-decoration: overline;
    color: crimson;
}
a{
    text-decoration: none;
    color: brown;
}

li{
    list-style-type: none;
}
