.image{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: space-evenly;
    margin-top: 130px;

    
}
.l1{
    background-color: rgb(110, 10, 110);
    width: 500px;
    height:300px;
    border-radius: 8px; 
    justify-content: flex-start;
    align-items: flex-start;
    
    
}

.l1 img{
    width: 60px;
    height:60px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
    

     
}
.l3{
    background-color: rgb(110, 10, 110);
    width:500px;
    height:300px;
    margin-top: 30px;
    border-radius: 8px;
}


.l3 img{
    width: 60px;
    height:60px;
    border-radius: 50%; 
    margin-top: 30px;
    margin-left: 30px;
}
.l4{
    background-color: rgb(110, 10, 110);
    width:500px;
    height:300px;
    margin-top: 60px;
    border-radius: 8px;
}
.l4 img{
    width: 60px;
    height:60px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
}
.name1{
    background-color: aquamarine;
}
.n1{
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}
.n2{
    line-height: 0px;
    margin-top: 30px;
    color: aliceblue;
}
.review{
    color: aliceblue;
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 10px;
}
.c1{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
}

p{
    
    color: rgb(138, 32, 138);
}
.star{
    position: absolute;
    top: 130px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 550px;
    height:400px;

}.para{
    margin-left: 30px;
}
.s1{
    background-color: rgb(252, 238, 252);
    padding:8px 25px;
    border-radius: 5px;
    width: 300px;
}
.s2{
    background-color: rgb(252, 238, 252);
    padding:8px 25px;
    border-radius: 5px;
    width: 300px;
    margin-left: 40px;

}
.s3{
    background-color: rgb(252, 238, 252);
    padding:8px 25px;
    border-radius: 5px;
    width: 300px;
    margin-left: 80px;
}
.para{
    color:  rgb(110, 10, 110);;
}