.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color:white;
    padding: 10px;

}
.b1 img{
    border-radius: 100%;
    margin: 20px;
    object-fit: cover;
}
.b1 p{
    margin: 5px;
}
.b1{
    width: 50000px;
    padding:10px;
    background-color: aliceblue;
    
}